@media only screen and (min-width:200px) and (max-width:757px) {
      header{
            flex-direction: column;
            
      }
      .headerleft{
            justify-content: center;
      }
      .logo{
            padding: 10px;
      }
      .headeraddress{
            padding: 10px;
      
      }
}