@media only screen and (min-width:200px) and (max-width:757px) {
      header{
            flex-direction: column;
            align-items: stretch;
            padding: 10px;
            gap: 15px;
      }
      .headerleft{
            justify-content: center;
      }
      .logo{
            padding: 10px;
      }
      .headeraddress{
            padding: 10px;
      
      }
      .searchbox button{
            padding: 10px;
      }
      .headerbtn{
            position:fixed;
            background-color: white;
            width: 100%;
            justify-content:center;
            bottom: 0px;
            margin-right: 0px;
      }
      .bannersection{
            display: none;
      }
      .orderbanner{
            flex-direction: column;
            padding: 10px;
            /* display: none; */
      }
      .categoryitems{
            flex-basis: 25%;
      }
     .productsection{
      padding: 30px 10px;
     }
      .productrow{
           /* flex-direction: column; */
      }
      .productitems{
            flex-basis:20%;
      }
      footer{
            margin-top: 0px;
      }
      .footer-mid-row1{
            flex-direction: column;
            padding: 10px;
      }
      .footer-mid-row3{
            padding: 0px 10px;
      }
      .footer-mid-row2{
            flex-direction: column;
      }
}