*{
      padding: 0px;
      margin: 0px;
      font-family: sans-serif;
      box-sizing: border-box;
}
header{
      display: flex;
      gap: 30px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      align-items: center;
}
.headerleft{
      display: flex;
      align-items: center;
}
.logo{
      padding: 24px 30px;
      border-right: 1px solid #ccc;
}
.headeraddress{
      padding: 20px 30px;
}
.headeraddress h3{
      font-size: 18px;
      margin-bottom: 5px;
}
.headeraddress p{
      font-size: 18px;
}
.searchbox{
      flex-grow: 1;
      background-color: #efefef;
      display: flex;
      border-radius: 15px;
      border: 1px solid #f4f4f4;
}
.searchbox input{
      flex-grow: 1;
      border: none;
      background-color: transparent;
}
.searchbox button{
      padding: 15px;
      border: none;
      background-color: transparent;
}
.searchbox input:focus{
      outline: none;
}
.headerbtn{
      display: flex;
      gap:50px;
      margin-right: 40px;
}
.headerbtn button{
      padding: 15px;
      font-size: 16px;
      background-color: transparent;
      border: none;
}
.headerbtn button:last-child{
      background-color: rgb(12, 131, 31);
      color: white;
      font-weight: bold;
      border-radius: 5px;

}
.headerbtn button{
      color: rgb(54, 54, 54);
}
.bannersection{
      max-width: 1280px;
      margin: auto;
}
.bannersection img{
      width: 100%;
}